body{
	padding:0;
	margin:0;
	overflow-x:hidden;
	font-family:'Roboto-Light';
}
.membre{/*Text membre*/
	position: relative;
	top:3vh;
	left:-55%;
	font-family: 'DancingScript-Bold';
	font-size:20px;
	color:black;
}
/*Appel des polices*/
@font-face{
	font-family:'Roboto-Black';
	src:url('../font/Roboto-Black.ttf');
}
@font-face{
	font-family:'Roboto-Light';
	src:url('../font/Roboto-Light.ttf');
}
@font-face{
	font-family:'DancingScript-Bold';
	src:url('../font/DancingScript-Bold.ttf');'
}
@font-face{
	font-family:'SongMyung-Regular';
	src:url('../font/SongMyung-Regular.ttf');'
}
@font-face{
	font-family:'KaushanScript-Regular';
	src:url('../font/KaushanScript-Regular.ttf');'
}

@font-face{
	font-family:'Roboto-Bold';
	src:url('../font/Roboto-Bold.ttf');'
}

.imgDiv{
	position:relative;
	top:12vh;
	left:13%;
	width:25%;
	height:100vh;
}
.imgDiv img{
	width:99%;
	object-fit:cover;
}
.navShadow{
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
}
.posSection{
	position: relative;
	top:10vh;
	height:100vh;
}
.colSection{
	background:#f5f5f5;
}
.presentation{
	text-transform:uppercase;
	position:absolute;
	left:45%;
	transform: translateY(-555%);
}
.myName{
	color:#33d685;
}
.metier{
	width: 40%;
	height:-60%;
	text-transform: none;
	text-indent: 3em;
	text-align:justify;
	position:absolute;
	left:45%;
	transform: translateY(-450%);
}

.linkVisited:visited{
	color: #33d685;
	text-decoration:underline;
	vertical-align:baseline;
	border-bottom: 5px solid #33d685;
}
.LinkMouseHover:hover{
	color:rgb(51, 214, 133);
}
.fontLink{
	text-transform:uppercase;
	font-family:'Roboto', sans-serif;
}
.posUl{
	position:relative;
	transform: translateX(45%);
	font-size:90%;
}
.navBarHeight{
	height:11vh;
}
.align-top-logo{
	position: relative;
	top:-1vh;
}
.bouton1{
	position: absolute;
	left:50%;
	top:68vh;
	font-family:'Roboto', sans-serif;
	font-size:125%;
	height:8%;
	width: 14%;
}
.bouton2{
	position: absolute;
	left:65%;
	top:68vh;
	font-family:'Roboto', sans-serif;
	font-size: 125%;
	height:8%;
	width: 15%;
	background:#33d685;
}
.txtmoi{
	text-transform: uppercase;
	position: relative;
	left:10%;
	transform:translateY(45%);
}
.imgDivApropos{
	position:relative;
	top:5vh;
	left:12%;
	width:25%;
	height:100vh;
}
.imgDivApropos img{
	width:70%;
	object-fit:cover;
}
.presentationApropos{
	position: relative;
	top:-611px;
	left:27em;
	/*border: 1px solid;*/
	width:60%;
	height:89vh;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #FFF;
	/*box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);*/
}
.monNomApropos{
	position: relative;
	top:5%;
	left:5%;
}
.dvlFullS{
	position: relative;
	top:8%;
	left:5%;
	font-weight: bolder;
}
.text1{
	width: 40%;
	height:-60%;
	text-transform: none;
	text-indent: 3em;
	text-align:justify;
	position:absolute;
	top:25%;
	left:5%;
}
.text2{
	width: 40%;
	height:-60%;
	text-transform: none;
	text-indent: 3em;
	text-align:justify;
	position:absolute;
	left:55%;
	top:25%;
}
.mesOutilsContainer{
	position: relative;
	top:225px;
	left:1px;
	width:100%;
	height:20vh;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #FFF;
}
.mesoutilsTitre{
	position: relative;
	left:3%;
	font-weight: bolder;
}
.mesOutilsUl{
	position: relative;
	top:4%;
	left:6%;
}
.mesOutilsUl .mesOutilsLi{
	list-style: none;
	display:inline;
	padding: 4px;
	text-align:center;
}
.unOutil{
	width:16%;
	height:20vh;
	-webkit-border-radius:80px;
	border-radius:80px;
}

.outils{
	width: 10vw;
	height: 22vh;
	border-style: none;
	-webkit-border-radius:65px;
	border-radius:65px;
}
.imgOutils{
	position: relative;
	top:32%;
}
/*Parite des compétences de programmation*/
.mesCompetenceCode{
	position: relative;
	top:5vh;
	left:134px;
	width:39%;
	height:63vh;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #FFF;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
}
.txtCompetenceCode{
	position: relative;
	top:4px;
	left:2%;
	font-family:'Roboto-light', sans-serif;
	text-transform: uppercase;
}
.txtHTML{
	position: relative;
	top:20px;
	left:10%;
}
.progressDesingHTML{
	position: relative;
	top:25px;
	left:10%;
	width: 80%;
}
.txtPHPMysql{
	position: relative;
	top:75px;
	left:10%;
}
.progressDesingPHPMysql{
	position: relative;
	top:85px;
	left:10%;
	width: 80%;
}
.txtJAVASCRIPT{
	position: relative;
	top:145px;
	left:10%;
}
.progressDesingJAVASCRIPT{
	position: relative;
	top:150px;
	left:10%;
	width: 80%;
}
/*Partie des compétences de conception*/
.mesCompetenceConception{
	position: relative;
	top:-58vh;
	left:50vw;
	width:39%;
	height:63vh;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #FFF;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
}
.txtCompetenceConception{
	position: relative;
	top:4px;
	left:2%;
	font-family:'Roboto-light', sans-serif;
	text-transform: uppercase;
}
.txtPHOTOSHOP{
	position: relative;
	top:20px;
	left:10%;
}
.txtMERISE{
	position: relative;
	top:75px;
	left:10%;
}
.txtUML{
	position: relative;
	top:145px;
	left:10%;
}
/*CSS de la page Formatoions*/
.blocFormation1{
	position: relative;
	top:25vh;
	left:165px;
	width:35%;
	height:20vh;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #FFF;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
}
.annee{
	color:white;
	background:#33d685;
	text-align:center;
	font-family: 'Roboto-bold';
}
.ecole241{
	text-align:center;
	font-family: 'Roboto-black';
	text-transform: uppercase;
}
.txtCertificat{
	text-align: center;
	position: relative;
	top:20px;
}
.blocFormation2{
	position: relative;
	top:-54vh;
	left:55vw;
	width:35%;
	height:20vh;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #FFF;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
}
.blocFormation3{
	position: relative;
	top:-46vh;
	left:165px;
	width:35%;
	height:20vh;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #FFF;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
}
.cercleFormation{ 
	width:80px;
	height:80px;
	transform:translateX(48vw);
	position: relative;
	top:-15%;
	background:#33d685;
	-moz-border-radius: 70px; 
	-webkit-border-radius: 70px; 
	border-radius: 70px;
}
.cercleDansCercle{
	width:65px;
	height:65px;
	transform:translateX(15%);
	position: relative;
	top:10%;
	left: -2%;
	background:white;
	-moz-border-radius: 70px; 
	-webkit-border-radius: 70px; 
	border-radius:70px;
}
.icon{
	position: relative;
	left: 18%;
	top: 20%;
}
.vl{
	border-left: 3px solid #33d685;
	height: 378px;
	position: relative;
	top:-23%;
	left:51.4%;
}
.c1{
	width:15px;
	height:15px;
	transform:translateX(50.4vw);
	position: relative;
	top:-8%;
	background:#33d685;
	-moz-border-radius: 70px; 
	-webkit-border-radius: 70px; 
	border-radius: 70px;
	z-index:1;
}
.c1in{
	width:7px;
	height:7px;
	transform:translateX(15%);
	position: relative;
	top:24%;
	left: 17%;
	background:white;
	-moz-border-radius: 70px; 
	-webkit-border-radius: 70px; 
	border-radius:70px;
}

.c2{
	width:15px;
	height:15px;
	transform:translateX(50.4vw);
	position: relative;
	top:15.9%;
	background:#33d685;
	-moz-border-radius: 70px; 
	-webkit-border-radius: 70px; 
	border-radius: 70px;
	z-index:1;
}
.c2in{
	width:7px;
	height:7px;
	transform:translateX(15%);
	position: relative;
	top:28%;
	left: 17%;
	background:white;
	-moz-border-radius: 70px; 
	-webkit-border-radius: 70px; 
	border-radius:70px;
}

.c3{
	width:15px;
	height:15px;
	transform:translateX(50.4vw);
	position: relative;
	top:40.9%;
	background:#33d685;
	-moz-border-radius: 70px; 
	-webkit-border-radius: 70px; 
	border-radius: 70px;
	z-index:1;
}
.c3in{
	width:7px;
	height:7px;
	transform:translateX(15%);
	position: relative;
	top:28%;
	left: 17%;
	background:white;
	-moz-border-radius: 70px; 
	-webkit-border-radius: 70px; 
	border-radius:70px;
}
/*CSS de la page Réalisations*/
.r1{
	position: relative;
	top:5vh;
	left:134px;
	width:39%;
	height:40vh;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #FFF;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
}
.r2{
	position: relative;
	top:5vh;
	left:50vw;
	width:39%;
	height:40vh;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #FFF;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
}
