body{
	padding:0;
	margin:0;
	overflow-x:hidden;
}
.membre{/*Text membre*/
	position: relative;
	top:3vh;
	left:-55%;
	font-family: 'DancingScript-Bold';
	font-size:20px;
	color:black;
}
/*Appel des polices*/
@font-face{
	font-family:'Roboto-Black';
	src:url('../font/Roboto-Black.ttf');
}
@font-face{
	font-family:'DancingScript-Bold';
	src:url('../font/DancingScript-Bold.ttf');'
}
@font-face{
	font-family:'SongMyung-Regular';
	src:url('../font/SongMyung-Regular.ttf');'
}
@font-face{
	font-family:'KaushanScript-Regular';
	src:url('../font/KaushanScript-Regular.ttf');'
}

.imgDiv{
	position:relative;
	top:12vh;
	left:13%;
	width:25%;
	height:100vh;
}
.imgDiv img{
	width:99%;
	object-fit:cover;
}
.navShadow{
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
}
.posSection{
	position: relative;
	top:10vh;
	height:900px;
}
.colSection{
	background:#f5f5f5;
}
.presentation{
	text-transform:uppercase;
	position:absolute;
	left:45%;
	transform: translateY(-555%);
}
.myName{
	 color:#33d685;
}
.metier{
	width: 40%;
	height:-60%;
	text-transform: none;
	text-indent: 3em;
	text-align:justify;
	position:absolute;
	left:45%;
	transform: translateY(-450%);
}

.linkVisited:visited{
    color: #33d685;
    text-decoration:underline;
    vertical-align:baseline;
    border-bottom: 5px solid #33d685;
}
.LinkMouseHover:hover{
	color:rgb(51, 214, 133);
}
.fontLink{
	text-transform:uppercase;
	font-family:'Roboto', sans-serif;
}
.posUl{
	position:relative;
	transform: translateX(80%);
	font-size:98%;
}
.navBarHeight{
	height:11vh;
}
.align-top-logo{
	position: relative;
	top:-1vh;
}
.bouton1{
	position: absolute;
	left:50%;
	top:68vh;
	font-family:'Roboto', sans-serif;
	font-size: 150%;
	height:8%;
	width: 13%;
}
.bouton2{
	position: absolute;
	left:65%;
	top:68vh;
	font-family:'Roboto', sans-serif;
	font-size: 150%;
	height:8%;
	width: 15%;
	background:#33d685;
}

/*.linkMouseHover:hover{
	border-bottom:3px solid #6ECBDF;
}
.btnbg:hover{
background-color:#6ECBDF;
color:white;
}
button a{
	text-decoration:none;
	color:black;
}
.posBtn{
	font-family:'SongMyung-Regular';
	position:relative;
	left:9%;
	position: relative;
	top:-335px;
	border: 1px solid;
}
.textAl{
	width:50%;
	height: 100%;
	position:relative;
	left:200px;
	text-align:justify;
	font-family:'Roboto-Black';
}
.fullStack{
	color:#6ECBDF;
	z-index: 1;
}
.navFixed{
	position:fixed;
	top:0;
	z-index: 1;
}
.navX{
	width:80vw;
}
.posJumbo{
	position:static;
}*/
/*.LinkMouseOn:visited{
	color:#00EA88;
}*/
