/*
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
body{
margin:0;
padding:1%;
background:#1e243a;
}
.wrapper{
	width: 80%;
	height:600px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	-webkit-box-shadow: -1px 3px 3px 1px #192231;
	        box-shadow: -1px 3px 3px 1px #192231;
}
.header .navHeader .ulMenuHeader{
	padding:5px;
	background-color:#1d2338;
	-webkit-box-shadow: 3px 3px 3px 9px #192231;
	        box-shadow: 3px 3px 3px 9px #192231;
	position: relative;
	top:-12px;
}
.header .navHeader .ulMenuHeader li{
	display:inline;
	text-decoration: none;
}
.menuIcon{
	background-color: #242b44;
}
*/