
.monCadre{/*Mon cadre avec ses styles*/
	padding: 15px;
	border:1px solid;
	width: 700px;
	height: 100%;
	margin:40px auto;
	box-shadow: 10px 10px black;
}
.monCadre ul li a{/*Styliser les liens qui sont dans les listes*/
	text-decoration: none;
}
.monCadre ul li{/*Styliser les listes en enlevant les points par défaut*/
	list-style-type: none;
	display: inline;
}
.monCadre ul .date{
	margin-left: 250px;
}
.monCadre .destinateur{
	margin-left: 380px;
}
.monCadre .objet{
	margin-left: 33px;
}
.monCadre .monsieur{
	margin-left: 42px;
}
.paragraphe{margin-left: 30px;margin-right: 30px;text-align: justify;}/*Style de mon paragraphe*/
.signature{text-align:right;}
.nom{text-align: center;}
