*{
    margin: 0;
    padding: 0;
    /* user-select: none;Pour empécher l'utilisateur de sélectionner du text */
}
body{
    overflow-x: hidden;
    font-family: "FuturaLight"; 
    /* background: red; */
}
@font-face{ 
font-family: "FuturaLight"; 
src:url('../font/futura light bt.ttf');
}
.container{
    width: 60%;
}
.container header{
    width: 95%;
    position: relative;
    left: -39%;
}
header img.banniere {/*Style de l'image*/
   width: 246%;
   position: relative;
   top: -19px;
   left:6%;
}
.container  nav ul li{
    list-style: none;
    display:inline;
    font-size: 10px;
    position: relative;
    top:2.4vh;
    padding: 20px;
}
/*Pour mettre plus de noir sur le lien active*/
.container  nav ul li a{
    text-decoration: none;
    color: grey;
    font-size: 12px;
}
.container  nav ul li a.accueil{
    color: black;
}

.container nav ul{/*Position de la navbar*/
   position: relative;
   left: 55%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
}
.articleUl{
    position: relative;
    left: 14vw;
    display: block;
    top:5vh;
}
.articleUl .articleLi{
    list-style: none;
}
/*myBermudes*/
.myBermudes{
    letter-spacing:15px;
    font-size:250%;
    position: relative;
    left: 101%;
    top:10vh;
    z-index: 1;
    color:#2f2e2e;
}
.my{
font-weight: 100;
position: relative;
top: -2.5vh;
}
.bermudes{
    position: relative;
    top: -2.5vh;
}
/**La partie main*/
.life-span{
    width:7vw;
    border: 1px solid;
    text-align: center;
    font-size:12px;
    height: 3.5vh;
    line-height: 4vh;
    margin-top:-4.4%;
}
.h1-title{/*Titre mariage civil à paris*/
    font-weight:100;
    font-family: 'FuturaLight';
    font-size: 27px;
    color: #2f2e2e;
    margin-top: 2%;
    left:-2px;
}
.img-legend{
    text-align: justify;
}
.date{/*La date au dessus du mariage*/
  color:#2f2e2e;
  font-size:14px;
  margin-top: 10%;
}
main{
    display:flex;
    padding:0 145px;
    position: relative;
    top: 5vh;
}
.icon{
    margin-left:14px;
}
.icon .uLConFollowMe li{/*Disposion des icons*/
display: inline;
list-style:none;
}

/*Un mariage à paris*/
.content{
display:flex;
flex-direction: column;
width:600%;
letter-spacing: normal;
font-size: 14px;
margin-top: 3%;
}
.content img {
    display: block;
}
.read-more{
    border: black 1px solid;
    width:97.3%;
    height: 2.5vw;
    text-align: center;
    line-height: 5.2vh;
}

/*La Partie Aside*/
main .sectionAside{
    display: flex;
    flex-direction: column;
    margin-left: 52px;
    line-height: 20px;
}
.imgMyBermudesMadeInParis{
    margin-top: -30px;
    margin-left:10%;
}
.textLegendeGauche{
    display: flex;
}
.LG1{
    margin-left:16px;
    line-height: 17px;
    color: #2f2e2e;
}
.LG2{
    margin-left: 16px;
    line-height: 17px;
    color: #2f2e2e;
}
.bienvenueSurMyBermudes{
    margin-left: 35px;
     color:#2f2e2e;
}
.bermudesBienvenu{
    color:black;
    font-weight: bolder;
}
.followME{
    margin-left: 103px;
    margin-top:2px;
    font-weight: bold;
    color:#2f2e2e;
    word-spacing: 5px;
    font-size:18px;
}
.uLConFollowMe{
    padding-left:18%;
    padding-top:9px;
}
.uLConFollowMe li{
    padding-left:10px; 
}
.hr1{
    opacity:0.5;
    margin-top:11px;
    width: 79%;
}
.hr2{
    margin-top:16px;
    opacity:0.5;
     width: 79%;
}
.sousTitre{
    font-size: 15px;
    color:#2f2e2e;
    margin-top:-9px;
}
.listDesMois{
    list-style: none;
    line-height: 30px;
    margin-top:3px;
}
.footer{
    height: 50vh;
    background-color: black;
}
.imgFooter{
text-align:center;
}
.text-footer{
color: aliceblue;
margin-top:3%;
margin-left: 38%;
}
/*Zone de la pagination*/
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #2f2e2e;
  margin: 0 4px;
}

.pagination a.active {
  background-color: rgb(255, 255, 255);
  color:rgb(193, 191, 196);
  border: 1px  #d3cfcf solid;
  
}
.text-legend{
    text-align: justify;
    width:80%;
    color:#2f2e2e;
}
.text-footer{
    padding-top: 20px;
}
.pagination{
    margin-left:140px;
    margin-top:-1.9%;
}
.aside3{
    padding-top:15px;
}
/*Footer*/
.footer-my-ber{
    color:#acaaaa;
    letter-spacing: 10px;

}
.my-footer{
    font-weight: 100;
}
.footer-bermudes{
    color: white;
    font-weight: 100;
}
.footer-img{
   margin-top:1%;
   margin-left: 5%;
   padding: -1%;
}
.copyRight{
padding-left:65px;
font-size: 14px;
}
.copyRight2017{
    color:#acaaaa;
}
.fierement{
    color:#acaaaa;
    padding-left:40px;
}
.footer{
   height: 267px;
} 


